@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--color-hacksu-blue: #4683ff;
	--color-hacksu-green: #35c982;
	--color-hacksu-purple: #ab52cb;
	--color-hacksu-grey: #142027;
}
